/06-Code/POO6382MedicByte/nbproject/private/
/06-Code/MedicByte v1.0.0/nbproject/private/
/06-Code/HospitalSystem/nbproject/private/
/06-Code/Traumatology/nbproject/private/
/06-Code/Traumatology/build/
/06-Code/MedicByte v1.0.0/build/